POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=salatschwestern
POSTGRES_PASSWORD=development
POSTGRES_DB=salatschwestern

TYPEORM_ENTITIES=src/**/*.entity.ts
TYPEORM_MIGRATIONS=src/migrations/*.ts
TYPEORM_MIGRATIONS_RUN=true
TYPEORM_SYNCHRONIZE=false

CORS_ORIGIN=http://localhost:5173

SLACK_CHANNEL=
SLACK_WEBHOOK_URL=

SWAGGER_ENABLED=true
#SWAGGER_USERNAME=
#SWAGGER_PASSWORD=
